---
layout: default
author_profile: false
pagination:
  enabled: true
---

<div id="main" role="main">
  {% include sidebar.html %}

  <div class="archive">
    <h1 class="page__title">{{ page.title }}</h1>
    {% for post in paginator.posts %}
      {% include archive-single.html %}
    {% endfor %}
    {% if paginator.total_pages > 1 %}
  <div class="pager">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | absolute_url }}" class="btn">&larr; Newer Posts</a>
    {% endif %}
    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | absolute_url }}" class="btn">Older Posts &rarr;</a>
    {% endif %}
  </div>
{% endif %}
  </div>
</div>